<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pib.affairs.current.app.pib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityThemeLight">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDescriptionActivity"
            android:label="@string/title_activity_news_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name="utils.FireBasePushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="acc1b0b9ec29985ac9dbef0f05837dac47e0b387" />

        <activity
            android:name=".NewsFeedActivity"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".AIRNewsActivity"
            android:label="@string/title_activity_airnews"
            android:theme="@style/ActivityThemeLight" />

        <service
            android:name="dm.audiostreamer.AudioStreamingService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close" />
                <action android:name="dm.audiostreamer.pause" />
                <action android:name="dm.audiostreamer.next" />
                <action android:name="dm.audiostreamer.play" />
                <action android:name="dm.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DDNewsListActivity"
            android:label="@string/title_activity_ddnews_list"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".DDNewsFeedActivity"
            android:label="@string/title_activity_ddnews_feed"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".RajyaSabhaListActivity"
            android:label="@string/title_activity_rajya_sabha_list"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".RajyaSabhaFeedActivity"
            android:label="@string/title_activity_rajya_sabha_feed"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".PibOldNewsActivity"
            android:label="@string/title_activity_pib_old_news"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".PibOldNewsFeedActivity"
            android:label="@string/title_activity_pib_old_news_feed"
            android:theme="@style/ActivityThemeLight"></activity>
    </application>

</manifest>